<!DOCTYPE html>
<html lang = "en">
  <head>

    <!-- Basic informations -->
    <meta charset="utf-8">
    <meta name="description" content="records of readings from the Raspberri Pi 2/Arduino"
    <meta name="author" content="Johan Barthelemy">
    <title>Sensors - records</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

  </head>

  <body>

    <div class="container">
      <div class="row">
	<div class="twelve colunm" style="margin-top: 5%">
	  <h1>Playing with sensors in Woonona</h1>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
	<h2>Showing all records between two dates</h2>
	<form id="datetime_range" action="/history" method="GET">
	  <div class="three columns">
	    <label for="from">From date</label>
	    <input class="u-full-width" id="datetimepicker_from"
		   type="text" value="{{from_date}}" name="from">
	  </div>

	  <div class="three columns">
	    <label for="to">To date</label>
	    <input class="u-full-width" id="datetimepicker_to"
		   type="text" value="{{to_date}}" name="to">
	  </div>

	  <div class="two columns">
	    <input class="button-primary" type="submit" value="Submit" style="position:relative; top: 28px"
		   id="submit_button">
	  </div>
	</form>
      </div>
    </div>

    <div class="container">

      <!-- Some UI  -->
      <div class="row">
	<div class="twelve columns" style="margin-top: 5%">
	  <h2>Or the records of the previous...</h2>
	</div>
	<div class="twelve columns">
	  <form id="range_select" action="/history" method="GET">
	    <div class="two columns">
	      <input type="radio" name="range_h" value="3" id="radio_3"/>
	      <label for="radio_3">3 hours</label>
	    </div>
	    <div class="two columns">
	      <input type="radio" name="range_h" value="6" id="radio_6"/>
	      <label for="radio_6">6 hours</label>
	    </div>
	    <div class="two columns">
	      <input type="radio" name="range_h" value="12" id="radio_12"/>
	      <label for="radio_12">12 hours</label>
	    </div>
	    <div class="two columns">
	      <input type="radio" name="range_h" value="24" id="radio_24"/>
	      <label for="radio_24">24 hours</label>
	    </div>
	  </form>
	</div>

      </div>


      <!-- Graphs -->
      <div class="row">
	<div class="twelve columns" style="margin-top: 5%">
	  <h3>Temperatures</h3>
	  <div id="chart_temperatures" class="chart"></div>
	</div>
      </div>
      <div class="row">
	<div class="twelve columns" style="margin-top: 0%">
	  <h3>Humidity</h3>
	  <div id="chart_humidities" class="chart"></div>
	</div>
      </div>
      <div class="row">
	<div class="twelve columns" style="margin-top: 0%">
	  <h3>Heat index</h3>
	  <div id="chart_heat_index" class="chart"></div>
	</div>
      </div>
      <div class="row">
	<div class="twelve columns" style="margin-top: 0%">
	  <h3>Luminosity</h3>
	  <div id="chart_luminosities" class="chart"></div>
	</div>
      </div>
      <div class="row">
	<div class="twelve columns" style="margin-top: 0%">
	  <h3>Current reading available <a href="../">here</a>.</h3>
	</div>
      </div>

    </div>


  </body>

  <!-- Include the Javascripts for the radio buttons (jQuery) -->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script>
    jQuery("#range_select input[type=radio]").click(function(){
      jQuery("#range_select").submit();
    });
  </script>


  <!-- Include the Javascript and CSS style  for the datetimepicker -->
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" >
  <script src="/static/javascript/jquery.datetimepicker.full.js"></script>

  <script>
    jQuery('#datetimepicker_from').datetimepicker(
      {
        format:'Y-m-d H:i',
        defaultDate:'{{from_date}}'
      });
    jQuery('#datetimepicker_to').datetimepicker(
      {
        format:'Y-m-d H:m',
        defaultDate:'{{to_date}}'
      });
  </script>

  <!-- Charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {

      // Temperature
      var data_temp = new google.visualization.DataTable();
      data_temp.addColumn('datetime', 'Time');
      data_temp.addColumn('number', 'Temperature');
      data_temp.addRows([
          {% for row in temperatures %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
                      {{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options_temp = {
        legend: { position: 'none' },
        hAxis: {
          title: "Date",
          format: 'dd-MM-yyyy HH:mm' },
        vAxis: {
          title: "Degrees"
        },
        chartArea: {'width': '70%', 'height': '75%', 'top': '5'},
        curveType: "function"
      };

      var chart_temp = new google.visualization.LineChart(document.getElementById('chart_temperatures'));
      chart_temp.draw(data_temp, options_temp);

      // Heat index
      var data_heat_idx = new google.visualization.DataTable();
      data_heat_idx.addColumn('datetime', 'Time');
      data_heat_idx.addColumn('number', 'Heat Index');
      data_heat_idx.addRows([
          {% for row in heat_index %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
                      {{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options_heat_idx = {
        legend: { position: 'none' },
        hAxis: {
          title: "Date",
          format: 'dd-MM-yyyy HH:mm' },
        vAxis: {
          title: "Degrees"
        },
        chartArea: {'width': '70%', 'height': '75%', 'top': '5'},
        curveType: "function"
      };

      var chart_heat_idx = new google.visualization.LineChart(document.getElementById('chart_heat_index'));
      chart_heat_idx.draw(data_heat_idx, options_heat_idx);

      // Humidity
      var data_hum = new google.visualization.DataTable();
      data_hum.addColumn('datetime', 'Time');
      data_hum.addColumn('number', 'Humidity');
      data_hum.addRows([
          {% for row in humidities %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
                      {{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options_hum = {
        legend: { position: 'none' },
        hAxis: {
          title: "Date",
          format: 'dd-MM-yyyy HH:mm' },
        vAxis: {
          title: "Percent"
        },
        chartArea: {'width': '70%', 'height': '75%', 'top': '5'},
        curveType: "function"
      };

      var chart_hum = new google.visualization.LineChart(document.getElementById('chart_humidities'));
      chart_hum.draw(data_hum, options_hum);

      // Luminosity
      var data_lum = new google.visualization.DataTable();
      data_lum.addColumn('datetime', 'Time');
      data_lum.addColumn('number', 'Luminosity');
      data_lum.addRows([
          {% for row in luminosities %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
                      {{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options_lum = {
        legend: { position: 'none' },
        hAxis: {
          title: "Date",
          format: 'dd-MMM-yyyy HH:mm' },
        vAxis: {
          title: "Lux"
        },
        chartArea: {'width': '70%', 'height': '75%', 'top': '5'},
        curveType: "function"
      };

      var chart_lum = new google.visualization.LineChart(document.getElementById('chart_luminosities'));
      chart_lum.draw(data_lum, options_lum);
    }

    $(window).resize(function(){
      drawCharts();
    });
  </script>

</html>
